<div class="modal fade" id="modalChangeUserPass-2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <!-- title + btn-close -->
                <div class="d-flex justify-content-between gap-3 mb-6">
                    <div class="h2 fw-700 mb-0">Востановление пароля</div>
                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- text -->
                <div class="text-box text-gray-50">
                    <p>Мы&nbsp;отправим вам&nbsp;инструкцию на почту для&nbsp;восстановления пароля.</p>
                    <p>Восстановить пароль?</p>
                </div>

                <!-- buttons -->
                <div class="d-flex flex-wrap gap-2 mt-6">
                    <button type="button" class="btn btn-outline-secondary w-100 w-sm-auto" data-coreui-toggle="modal" data-coreui-target="#modalChangeUserPass-3">Востановить пароль</button>
                    <button type="button" class="btn btn-primary w-100 w-sm-auto" data-coreui-dismiss="modal">Отмена</button>
                </div>

            </div>
        </div>
    </div>
</div>