<div class="modal fade" id="modalChangeUserRole-2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <!-- icon + btn-close -->
                <div class="d-flex justify-content-between gap-3 mb-2">
                    <img src="assets/img/modals/user.svg" alt="user">
                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <!-- title -->
                <div class="h2 fw-700 mb-2">Пока нельзя сменить роль</div>

                <!-- text -->
                <div class="text-box text-gray-50">
                    <p>Повторная смена будет доступна через 24 часа</p>
                    <p>Попробуйте снова позже</p>
                </div>

                <!-- buttons -->
                <div class="d-flex flex-wrap gap-2 mt-6">
                    <button type="button" class="btn btn-primary w-100" data-coreui-dismiss="modal">Понятно</button>
                </div>

            </div>
        </div>
    </div>
</div>