<div class="modal disable-auto-renewal fade" id="modalDisableAutoRenewal2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <!-- btn-close -->
                <div class="d-flex justify-content-between gap-3 mb-2">
                    <img src="img/modals/check.svg" alt="check">
                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <!-- title -->
                <div class="h2 fw-700 mb-2">Автопродление отключено</div>

                <!-- text -->
                <div class="text-box text-gray-50">
                    <p>Подписка активна до 19.04.2026</p>
                </div>

                <div class="mt-6">
                    <button type="button" class="btn btn-primary w-100" data-coreui-dismiss="modal">Понятно</button>
                </div>

            </div>
        </div>
    </div>
</div>