<div class="modal modal-enter-promo-code fade" id="modalEnterPromoCode1" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <!-- title + btn-close -->
                <div class="d-flex justify-content-between gap-3 mb-6">
                    <div class="h2 fw-700 mb-0">Введите промокод</div>
                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- form -->
                <div>
                    <form class="needs-validation" novalidate>
                        <div class="mb-6">
                            <div class="position-relative has-validation">
                                <div class="position-relative">
                                    <!-- icon -->
                                    <div class="position-absolute top-50 start-0 translate-middle-y ms-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M14 6H6C5.06812 6 4.60192 6 4.23438 6.15224C3.74432 6.35523 3.35523 6.74481 3.15224 7.23486C3 7.60241 3 8.06835 3 9.00023C4.65685 9.00023 6 10.3429 6 11.9998C6 13.6566 4.65685 15 3 15C3 15.9319 3 16.3978 3.15224 16.7654C3.35523 17.2554 3.74432 17.6447 4.23438 17.8477C4.60192 17.9999 5.06812 18 6 18H14M14 6H18C18.9319 6 19.3978 6 19.7654 6.15224C20.2554 6.35523 20.6447 6.74481 20.8477 7.23486C20.9999 7.6024 20.9999 8.06835 20.9999 9.00023C19.343 9.00023 18 10.3431 18 12C18 13.6569 19.343 15 20.9999 15C20.9999 15.9319 20.9999 16.3978 20.8477 16.7654C20.6447 17.2554 20.2554 17.6447 19.7654 17.8477C19.3978 17.9999 18.9319 18 18 18H14M14 6V18" stroke="#94A3B8" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                                    </div>
                                    <!-- field -->
                                    <input type="text" class="form-control ps-10" placeholder="Введите промокод" id="inputEnterPromoCode" required>
                                </div>
                                <!-- validation feedbacks -->
                                <div class="form-feedback feedback-error">
                                    <div class="small text-error-900 fw-500 mb-1">Неверный промокод</div>
                                    <div class="small text-error-700 fw-400">Промокод не найден</div>
                                </div>
                            </div>
                        </div>
                        <!-- submit btn wrp -->
                        <div>
                            <button type="button" class="btn btn-primary w-100" data-coreui-toggle="modal" data-coreui-target="#modalEnterPromoCode2">Применить</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>