<div class="modal modal-forgot-pass fade" id="modalForgotPass2" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body">

                <!-- btn-close -->
                <div class="d-flex justify-content-between gap-3 mb-2">
                    <img src="img/modals/mail.svg" alt="mail">
                    <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
                </div>
                
                <div class="h2 fw-700 mb-2">Проверьте вашу почту</div>

                <!-- text -->
                <div class="text-box text-gray-50">
                    <p>Мы&nbsp;отправили письмо с&nbsp;инструкцией по&nbsp;восстановлению пароля на&nbsp;вашу электронную почту. Откройте письмо и&nbsp;следуйте указанным шагам, чтобы&nbsp;создать новый пароль</p>
                    <p>Если&nbsp;письмо не&nbsp;пришло&nbsp;— проверьте папку «Спам» или&nbsp;отправьте его&nbsp;повторно</p>
                </div>

                <div class="mt-6">
                    <button type="button" class="btn btn-outline-secondary w-100 disabled" data-coreui-toggle="modal" data-coreui-target="#modalForgotPass1">Отправить письмо повторно, через <span class="button-timer">0:55</span></button>
                </div>

            </div>
        </div>
    </div>
</div>