@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* FORMS */
// =========================================
.form-control:focus,
.form-select:focus,
.form-check-input:focus,
.form-password .form-password-action:focus {
    box-shadow: none !important;
}

// form-control
.form-control {
    padding: 0.625rem;
    border-color: $bg-white;
    background-color: $bg-white;

    &:focus {
        border-color: $brand-500;
        background-color: $bg-white;
    }
}

// form-check-input
.form-check {
    font-size: 20px;
}

.form-check-input {
    --cui-border-width: 1px;
    font-size: 20px;
}

.form-check-input[type=checkbox] {
    border-radius: $rounded-1;
}

.form-check-label {
    font-size: var(--cui-body-font-size);
}

// form-password
.form-password .form-password-action {
    inset-inline-end: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

// form-custom-label
.form-custom-label {
    position: relative;
    display: block;
    padding: 0.75rem;
    border: var(--cui-border-width) solid var(--cui-border-color);
    border-radius: var(--cui-border-radius);
    border-color: $bg-white;
    background-color: $bg-white;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:has(input:checked[type="radio"]) {
        border-color: $brand-500;
        background-color: $bg-white;
    }
}

// validation
.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated .form-control:invalid,
.form-control.is-invalid {
    background-image: none;
}

.form-feedback {
    position: absolute;
    top: 100%;
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    padding: 6px;
    z-index: 1;
}

// feedback-error
.feedback-error {
    color: $error-700;
    border-radius: $border-radius-sm;
    background-color: $bg-error;
    box-shadow: 0px 0px 2px 0px rgba(30, 41, 59, 0.08), 0px 2px 4px 0px rgba(30, 41, 59, 0.12);
}

.is-error {
    .feedback-error {
        display: block;
    }

    .form-control {
        color: $error-700;
        border-color: $error-400;
        background-color: $bg-error;
    }

    .form-custom-label {
        border-color: $error-400;
        background-color: $bg-error;
    }
}

// feedback-warning
.feedback-warning {
    padding: 12px;
    border: 2px solid $warning-400;
    border-radius: $border-radius;
    background-color: $bg-warning;
    z-index: 5;
}

.is-warning {
    .feedback-warning {
        display: block;
    }

    .form-control {
        color: $warning-800;
        border-color: $warning-400;
        background-color: $bg-warning;
    }
}
