@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* GLOBAL */
// =========================================

html { scroll-behavior: smooth; }

a { text-decoration: none; }

.divider-vertical {
    width: 1px;
    height: 100%;
    background-color: $neutral-300;
}

.scrollbar-thin {
    scrollbar-width: thin;
}

.app-logo {
    max-width: 100%;
    height: auto;
}

.list-primary-bullets {
    list-style: none;
    padding-left: 0;

    li {
        position: relative;
        padding-left: 1rem;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0.4125em;
            width: 8px;
            height: 8px;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Crect width='8' height='8' rx='4' fill='%233771FD'/%3E%3C/svg%3E");
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.dropdown-menu {
    --cui-dropdown-padding-x: 0.25rem;
    --cui-dropdown-item-border-radius: var(--cui-border-radius-sm);
}

@include media-breakpoint-up(md) {
    .container,
    .container-fluid,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
        --cui-gutter-x: 2.5rem;
    }
}