@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* MODALS & OFFCANVAS */
// =========================================

.modal {
    --cui-modal-padding: 0.75rem;
    --cui-modal-bg: #{$neutral-50};
    --cui-modal-border-width: 1px;
    --cui-modal-border-color: #{$neutral-200};

    .modal-content {
        box-shadow: 0px 24px 50px -12px rgba(30, 41, 59, 0.12);
    }

    .btn-close {
        flex-shrink: 0;
        box-shadow: none !important;
    }

    @include media-breakpoint-up(lg) {
        --cui-modal-padding: 1.25rem;
    }
}

// offcanvas-mobile-menu
.offcanvas-mobile-menu {
    --cui-offcanvas-width: 300px;
    --cui-offcanvas-padding-x: 12px;
    --cui-offcanvas-padding-y: 12px;
    --cui-offcanvas-border-width: 0;
    --cui-offcanvas-bg: #{$neutral-100};
    border-top-left-radius: $rounded-3;
    border-bottom-left-radius: $rounded-3;
    padding: var(--section-padding-y) var(--section-padding-x);
    padding-left: 0 !important;

    .offcanvas-logo {
        padding: 8px;
    }

    .offcanvas-footer {
        padding: var(--cui-offcanvas-padding-y) var(--cui-offcanvas-padding-x);
    }
}