@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* ROOT */
// =========================================

:root {
    --sidebar-width: 260px;
    --header-height: 68px;
    --section-padding-y: 1.25rem;
    --section-padding-x: 1.25rem;
}
