@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* SECTIONS */
// =========================================

// main
.app-main {
    position: relative;
    overflow: hidden;
}

@include media-breakpoint-down(xl) {
    :has(.app-header.header-fixed) .app-main {
        padding-top: calc(var(--header-height) + var(--section-padding-y) );
    }
}

@include media-breakpoint-up(xl) {
    :has(.app-sidebar) .app-main {
        margin-left: var(--sidebar-width);
    }
}

// section
.section {
    --section-padding-x: 0;
    position: relative;
    padding: var(--section-padding-y) var(--section-padding-x);

    &__header {
        margin-bottom: 1.25rem;
    }
    
    &__anchor {
        position: absolute;
        top: -120px;
        width: 100%;
        height: 10px;
    }
}

// rounded-neutral-wrapper
.rounded-neutral-wrapper {
    position: relative;
    padding: 1rem;
    border-radius: $rounded-3;
    background-color: $neutral-100;

    @include media-breakpoint-up(xl) {
        padding: 1.875rem 1.25rem;
    }
}

// section-sign
.section-sign {
    background-color: $neutral-100;

    .hero-area {
        position: relative;
        overflow: hidden;
        height: 100%;
        padding: 2.5rem calc(var(--cui-gutter-x) * 0.5);
        background-color: #070706;
    }

    .bg-img-absolute {
        position: absolute;
        top: auto;
        right: 0;
        left: auto;
        bottom: 0;
        max-width: none;
        width: 600px;
    }

    .hero-title {
        margin-bottom: 1.25rem;
    }

    .hero-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;

        .grid-cell {
            position: relative;
            background-color: rgba(29, 62, 90, 0.4);

            &::before {
                content: '';
                position: absolute;
                inset: 0;
                border-radius: inherit;
                padding: 2px; // толщина рамки
                background: linear-gradient(103.4deg, rgba(79, 217, 253, 0.8) 1.7%, rgba(0, 56, 104, 0.8) 85.64%);
                mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
                mask-composite: exclude;
                -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
                -webkit-mask-composite: xor;
                pointer-events: none;
            }
        }
    }

    @include media-breakpoint-down(md) {
        --section-padding-y: 0;

        .hero-area {
            margin-right: calc(-0.5 * var(--cui-gutter-x));
            margin-left: calc(-0.5 * var(--cui-gutter-x));
            padding-bottom: 425px;
        }
    }

    @include media-breakpoint-up(md) {
        .hero-area {
            min-height: calc(100dvh - 2.5rem);
            border-radius: $rounded-3;
            padding: 1.25rem;
        }
    }

    @include media-breakpoint-up(lg) {
        .hero-area {
            padding: 2.5rem;
        }

        .bg-img-absolute {
            max-width: 100%;
            width: auto;
        }

        .hero-content {
            margin-top: 115px;
        }

        .hero-title {
            max-width: 630px;
            margin-bottom: 1.5rem;
        }

        .hero-grid {
            max-width: 700px;
            grid-template-columns: 1fr minmax(0, 300px);
            gap: 1.25rem;
        }
    }

    @include media-breakpoint-up(xxl) {
        .bg-img-absolute {
            top: 0;
            right: auto;
            left: 0;
            bottom: auto;
        }

        .hero-content {
            max-width: 1100px;
            margin-top: 180px;
            margin-left: auto;
            margin-right: auto;
        }

        .hero-title {
            margin-bottom: 1.875rem;
        }
    }
}

// section-notifications
// .section-notifications {}

// accordion
.accordion {
    --cui-accordion-color: #{$text-gray-50};
    --cui-accordion-border-width: 1px;
    --cui-accordion-border-color: #{$neutral-200};
    --cui-accordion-btn-padding-x: 0;
    --cui-accordion-btn-padding-y: 0;
    --cui-accordion-btn-icon-transform: rotate(180deg);
    --cui-accordion-btn-focus-box-shadow: none;
    --cui-accordion-body-padding-x: 0;
    --cui-accordion-body-padding-y: 0;
    --cui-accordion-active-color: var(--cui-body-color);
    --cui-accordion-active-bg: var(--cui-body-bg);
    --accordion-divider: 0.5rem;

    .accordion-item {
        position: relative;
        overflow: hidden;
        padding: 1rem;
        border-radius: var(--cui-border-radius) !important;

        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
    }

    .accordion-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        border-radius: 0 !important;
        box-shadow: none !important;

        &::after {
            content: none;
        }

        .accordion-icon {
            flex-shrink: 0;
    
            svg {
                transition: var(--cui-accordion-btn-icon-transition);
            }
        }

        &:not(.collapsed) {
            .accordion-icon svg {
                transform: var(--cui-accordion-btn-icon-transform);
            }
        }
    }

    .accordion-body {
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: var(--accordion-divider);
        }
    }

    @include media-breakpoint-up(xl) {
        .accordion-item {
            padding: 1.25rem;
        }
    }
}

// filter-bar
.filter-bar {
    .dropdown-menu {
        --cui-dropdown-link-active-bg: #{$brand-200};
        min-width: 235px;
    }

    .dropdown-item {
        white-space: inherit;
    }

    .form-check-label {
        font-size: 0.875rem;
    }
}