@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* SIDEBAR */
// =========================================
.app-sidebar {
    position: fixed;
    top: 0;
    display: none;
    width: var(--sidebar-width);
    height: 100vh;
    padding: 20px;
    padding-right: 0;
    z-index: 10;

    &__header,
    &__footer {
        padding: 20px;
    }

    &__header {
        padding-bottom: 0;
    }
    &__footer {
        margin-top: auto;
    }

    @include media-breakpoint-up(lg) {
        display: block;
    }
}

// app-sidebar-body
.app-sidebar-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: $rounded-3;
    background-color: $neutral-100;
}

// menu-area
.app-sidebar-menu-area {
    padding: 20px 10px;
}

// app main menu
.app-menu {
    --cui-nav-link-padding-x: 10px;
    --cui-nav-link-padding-y: 10px;
    --cui-nav-link-font-weight: 500;
    --cui-nav-link-color: #{$text-gray-60};
    --cui-nav-link-hover-color: #{$text-primary};
    gap: 20px;

    .nav-divider {
        border-width: 1px;
        color: $neutral-300;
        opacity: 1;
        margin: 0;
    }
    
    .nav-link {
        display: flex;
        align-items: center;
        border-radius: $rounded-2;

        &.active {
            font-weight: 700;
        }

        &.notification-active {
            background-color: $warning-200;
        }

        .nav-icon {
            flex-shrink: 0;
            margin-right: 8px;
        }
    }

    .btn-add-object-wrapper {
        margin-top: 4px;
        margin-right: 10px;
        margin-left: 42px;
    }
}
