@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* SIDEBAR */
// =========================================

.app-sidebar {
    position: fixed;
    top: 0;
    display: none;
    width: var(--sidebar-width);
    height: 100vh;
    padding: var(--section-padding-y) var(--section-padding-x);
    padding-right: 0 !important;
    z-index: 10;

    &__header,
    &__footer {
        padding: 1.25rem;
    }

    &__header {
        padding-bottom: 0;
    }
    &__footer {
        margin-top: auto;
    }

    @include media-breakpoint-up(xl) {
        display: block;
    }
}

// app-sidebar-body
.app-sidebar-body {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: $rounded-3;
    background-color: $neutral-100;
}

// menu-area
.app-sidebar-menu-area {
    padding: 1.25rem 0.625rem;
}

// app main menu
.app-menu {
    --cui-nav-link-padding-x: 0.625rem;
    --cui-nav-link-padding-y: 0.625rem;
    --cui-nav-link-font-weight: 500;
    --cui-nav-link-color: #{$text-gray-60};
    --cui-nav-link-hover-color: #{$text-primary};
    gap: 1.25rem;

    .nav-divider {
        border-width: 1px;
        color: $neutral-300;
        opacity: 1;
        margin: 0;
    }
    
    .nav-link {
        display: flex;
        align-items: center;
        border-radius: $rounded-2;

        &.active {
            font-weight: 700;
        }

        &.notification-active {
            background-color: $warning-200;
        }

        .nav-icon {
            flex-shrink: 0;
            margin-right: 0.5rem;
        }
    }

    .btn-add-object-wrapper {
        margin-top: 0.25rem;
        margin-right: 0.625rem;
        margin-left: 42px;
    }
}
