@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* UTILITY CLASSES */
// =========================================

// background
// brand
.bg-brand-50 { background-color: $brand-50;}
.bg-brand-100 { background-color: $brand-100; }
.bg-brand-200 { background-color: $brand-200; }
.bg-brand-300 { background-color: $brand-300; }
.bg-brand-400 { background-color: $brand-400; }
.bg-brand-500 { background-color: $brand-500; }
.bg-brand-600 { background-color: $brand-600; }
.bg-brand-700 { background-color: $brand-600; }
.bg-brand-800 { background-color: $brand-800; }
.bg-brand-900 { background-color: $brand-900; }
// neutral
.bg-neutral-50 { background-color: $neutral-50;}
.bg-neutral-100 { background-color: $neutral-100; }
.bg-neutral-200 { background-color: $neutral-200; }
.bg-neutral-300 { background-color: $neutral-300; }
.bg-neutral-400 { background-color: $neutral-400; }
.bg-neutral-500 { background-color: $neutral-500; }
.bg-neutral-600 { background-color: $neutral-600; }
.bg-neutral-700 { background-color: $neutral-600; }
.bg-neutral-800 { background-color: $neutral-800; }
.bg-neutral-900 { background-color: $neutral-900; }
// success
.bg-success-50 { background-color: $success-50;}
.bg-success-100 { background-color: $success-100; }
.bg-success-200 { background-color: $success-200; }
.bg-success-300 { background-color: $success-300; }
.bg-success-400 { background-color: $success-400; }
.bg-success-500 { background-color: $success-500; }
.bg-success-600 { background-color: $success-600; }
.bg-success-700 { background-color: $success-600; }
.bg-success-800 { background-color: $success-800; }
.bg-success-900 { background-color: $success-900; }
// warning
.bg-warning-50 { background-color: $warning-50;}
.bg-warning-100 { background-color: $warning-100; }
.bg-warning-200 { background-color: $warning-200; }
.bg-warning-300 { background-color: $warning-300; }
.bg-warning-400 { background-color: $warning-400; }
.bg-warning-500 { background-color: $warning-500; }
.bg-warning-600 { background-color: $warning-600; }
.bg-warning-700 { background-color: $warning-600; }
.bg-warning-800 { background-color: $warning-800; }
.bg-warning-900 { background-color: $warning-900; }
// error
.bg-error-50 { background-color: $error-50;}
.bg-error-100 { background-color: $error-100; }
.bg-error-200 { background-color: $error-200; }
.bg-error-300 { background-color: $error-300; }
.bg-error-400 { background-color: $error-400; }
.bg-error-500 { background-color: $error-500; }
.bg-error-600 { background-color: $error-600; }
.bg-error-700 { background-color: $error-600; }
.bg-error-800 { background-color: $error-800; }
.bg-error-900 { background-color: $error-900; }

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.mx-n-gx {
    margin-right: calc(-0.5 * var(--cui-gutter-x));
    margin-left: calc(-0.5 * var(--cui-gutter-x));
}

.px-gx {
    padding-right: calc(var(--cui-gutter-x) * 0.5);
    padding-left: calc(var(--cui-gutter-x) * 0.5);
}

.text-box *:last-child { margin-bottom: 0; }

// width
.w-100 { width: 100% !important; }
.w-auto { width: auto !important; }

// height
.h-20px { height: 20px !important; }

// max-width
.max-w-800px { max-width: 800px; }

// min-height
.min-h-screen { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }

// =========================================
/* RESPONSIVE UTILITIES */
// =========================================

@include media-breakpoint-up(sm) {
    // width
    .w-sm-100 { width: 100% !important; }
    .w-sm-auto { width: auto !important; }

    // min-height
    .min-h-screen-sm { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(md) {
    // width
    .w-md-100 { width: 100% !important; }
    .w-md-auto { width: auto !important; }

    // min-height
    .min-h-screen-md { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(lg) {
    // width
    .w-lg-100 { width: 100% !important; }
    .w-lg-auto { width: auto !important; }

    // min-height
    .min-h-screen-lg { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(xl) {
    // width
    .w-xl-100 { width: 100% !important; }
    .w-xl-auto { width: auto !important; }

    // min-height
    .min-h-screen-xl { min-height: calc(100vh - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(xxl) {
    // width
    .w-xxl-100 { width: 100% !important; }
    .w-xxl-auto { width: auto !important; }

    // min-height
    .min-h-screen-xxl { min-height: calc(100vh - var(--section-padding-y) * 2); }
}