@use '../variables' as *;
@use '../coreui' as *;

// =========================================
/* UTILITY CLASSES */
// =========================================

// colors
.neutral-50 { color: $neutral-50;}
.neutral-100 { color: $neutral-100; }
.neutral-200 { color: $neutral-200; }
.neutral-300 { color: $neutral-300; }
.neutral-400 { color: $neutral-400; }
.neutral-500 { color: $neutral-500; }
.neutral-600 { color: $neutral-600; }
.neutral-700 { color: $neutral-600; }
.neutral-800 { color: $neutral-800; }
.neutral-900 { color: $neutral-900; }

// background
.bg-neutral-50 { background-color: $neutral-50;}
.bg-neutral-100 { background-color: $neutral-100; }
.bg-neutral-200 { background-color: $neutral-200; }
.bg-neutral-300 { background-color: $neutral-300; }
.bg-neutral-400 { background-color: $neutral-400; }
.bg-neutral-500 { background-color: $neutral-500; }
.bg-neutral-600 { background-color: $neutral-600; }
.bg-neutral-700 { background-color: $neutral-600; }
.bg-neutral-800 { background-color: $neutral-800; }
.bg-neutral-900 { background-color: $neutral-900; }

.bg-img {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.mx-n-gx {
    margin-right: calc(-0.5 * var(--cui-gutter-x));
    margin-left: calc(-0.5 * var(--cui-gutter-x));
}

.px-gx {
    padding-right: calc(var(--cui-gutter-x) * 0.5);
    padding-left: calc(var(--cui-gutter-x) * 0.5);
}

.text-box *:last-child { margin-bottom: 0; }

// width
.w-100 { width: 100% !important; }
.w-auto { width: auto !important; }

// max-width
.max-w-800px { max-width: 800px; }

// min-height
.min-h-screen { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }

// =========================================
/* RESPONSIVE UTILITIES */
// =========================================

@include media-breakpoint-up(sm) {
    // width
    .w-sm-100 { width: 100% !important; }
    .w-sm-auto { width: auto !important; }

    // min-height
    .min-h-screen-sm { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(md) {
    // width
    .w-md-100 { width: 100% !important; }
    .w-md-auto { width: auto !important; }

    // min-height
    .min-h-screen-md { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(lg) {
    // width
    .w-lg-100 { width: 100% !important; }
    .w-lg-auto { width: auto !important; }

    // min-height
    .min-h-screen-lg { min-height: calc(100vh - (var(--header-height) + var(--section-padding-y)) - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(xl) {
    // width
    .w-xl-100 { width: 100% !important; }
    .w-xl-auto { width: auto !important; }

    // min-height
    .min-h-screen-xl { min-height: calc(100vh - var(--section-padding-y) * 2); }
}

@include media-breakpoint-up(xxl) {
    // width
    .w-xxl-100 { width: 100% !important; }
    .w-xxl-auto { width: auto !important; }

    // min-height
    .min-h-screen-xxl { min-height: calc(100vh - var(--section-padding-y) * 2); }
}