<div class="card card-estate">
    <div class="card-body">
        <div class="d-flex flex-column gap-5 gap-xl-6">
            
            <!-- number + data -->
            <div>
                <div class="row gy-5 gy-xl-6">
                    <!-- col: number -->
                    <div class="col-lg-8 col-xxl-13">
                        <div class="d-flex flex-wrap flex-row flex-lg-column gap-1">
                            <div class="small fw-400 text-gray-50 mb-0">№S1006F</div>
                            <div class="small fw-400 text-gray-50 mb-0">от 26.03.2026</div>
                        </div>
                    </div>
                    <!-- col: data -->
                    <div class="col-lg-16 col-xxl-11">
                        <div class="row align-items-center gy-5 gx-4">
                            <div class="col-12 col-md-8 col-lg col-xl-5">
                                <div class="small fw-400 text-gray-50 mb-1">Тип помещения:</div>
                                <div class="small fw-500 text-line-clamp-1 mb-0" title="Бытовые услуги">Бытовые услуги</div>
                            </div>
                            <div class="col-12 col-md-8 col-lg col-xl-4 order-xl-first">
                                <div class="small fw-400 text-gray-50 mb-1">Арендатор:</div>
                                <div class="small fw-500 text-line-clamp-1 mb-0" title="Ozon">Ozon</div>
                            </div>
                            <div class="col-24 col-md-8 col-lg col-xl">
                                <div class="small fw-400 text-gray-50 mb-1">Тип здания:</div>
                                <div class="small fw-500 text-line-clamp-1 mb-0" title="Жилой многоквартирный дом">Жилой многоквартирный дом</div>
                            </div>
                            <div class="col-24 col-md-24 col-lg col-xl text-lg-end">
                                <div class="h4 fw-600 mb-0">24 000 000 ₽</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- address + data -->
            <div>
                <div class="row align-items-center gy-5 gy-xl-6">
                    <!-- col: address -->
                    <div class="col-lg-8 col-xxl-13">
                        <div class="small fw-400 mb-0">Москва</div>
                        <div class="fw-500 text-line-clamp-2 mb-2" title="ул. 50 лет Победы в Великой Отечественной войне, д.2 (2 строчки максимум, а дальше точки)">ул. 50 лет Победы в Великой Отечественной войне, д.2 (2 строчки максимум, а дальше точки)</div>
                        <div class="small fw-500 text-brand-600 mb-0">200,50 м2</div>
                    </div>
                    <!-- col: data -->
                    <div class="col-lg-16 col-xxl-11">
                        <div class="d-flex flex-column gap-2"></div>
                    </div>
                </div>
            </div>

            <!-- buttons -->
            <div>
                <div class="row gy-4 gx-4">
                    <div class="col-lg text-lg-end">
                        <a href="#" class="btn btn-primary btn-sm w-100 w-lg-auto">
                            <span>Заполнить</span>
                        </a>
                    </div>
                    <div class="col-lg-auto order-lg-first">
                        <a href="#" class="btn btn-outline-secondary btn-sm w-100 w-lg-auto">
                            <svg class="inline-icon me-1" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                                <path d="M4.66667 3.33325L2 5.99992L4.66667 8.66658M2 5.99992H10.6667C12.5076 5.99992 14 7.4923 14 9.33325C14 11.1742 12.5076 12.6666 10.6667 12.6666H7.33333" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            <span>Чат активен до 12:00 24.03</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>