<!-- offcanvas filter city -->
<div class="offcanvas offcanvasFilter offcanvas-bottom" tabindex="-1" id="offcanvasFilterCity">
    <div class="offcanvas-header justify-content-between">
        <div class="h5 fw-600 mb-0">Выберите город</div>
        <button type="button" class="btn btn-secondary p-2" data-coreui-dismiss="offcanvas" aria-label="Close">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </button>
    </div>
    <!-- search -->
    <div class="px-5 mb-4">
        <div class="position-relative">
            <!-- icon -->
            <div class="position-absolute top-50 start-0 translate-middle-y ms-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M15 15L21 21M10 17C6.13401 17 3 13.866 3 10C3 6.13401 6.13401 3 10 3C13.866 3 17 6.13401 17 10C17 13.866 13.866 17 10 17Z" stroke="#334155" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </div>
            <!-- field -->
            <input type="text" class="form-control ps-10 border-neutral-200" placeholder="Поиск..." id="offcanvasFilterSearchInputCity" aria-label="Поиск по Город">
        </div>
    </div>
    <div class="offcanvas-body overflow-y-auto scrollbar-thin">
        <!-- options -->
        <div class="filter-options-list">
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Москва" id="offcanvasCity1">
                    <label class="form-check-label text-gray-60" for="offcanvasCity1">Москва</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Санкт-Петербург" id="offcanvasCity2">
                    <label class="form-check-label text-gray-60" for="offcanvasCity2">Санкт-Петербург</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Казань" id="offcanvasCity3">
                    <label class="form-check-label text-gray-60" for="offcanvasCity3">Казань</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Новосибирск" id="offcanvasCity4">
                    <label class="form-check-label text-gray-60" for="offcanvasCity4">Новосибирск</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Екатеринбург" id="offcanvasCity5">
                    <label class="form-check-label text-gray-60" for="offcanvasCity5">Екатеринбург</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Краснодар" id="offcanvasCity6">
                    <label class="form-check-label text-gray-60" for="offcanvasCity6">Краснодар</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Таганрог" id="offcanvasCity7">
                    <label class="form-check-label text-gray-60" for="offcanvasCity7">Таганрог</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Тверь" id="offcanvasCity8">
                    <label class="form-check-label text-gray-60" for="offcanvasCity8">Тверь</label>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <button type="button" class="btn btn-primary w-100">Применить</button>
    </div>
</div>