<!-- offcanvas filter buildingPurpose -->
<div class="offcanvas offcanvasFilter offcanvas-bottom" tabindex="-1" id="offcanvasFilterBuildingPurpose">
    <div class="offcanvas-header justify-content-between">
        <div class="h5 fw-600 mb-0">Тип помещения</div>
        <button type="button" class="btn btn-secondary p-2" data-coreui-dismiss="offcanvas" aria-label="Close">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </button>
    </div>
    <div class="offcanvas-body overflow-y-auto scrollbar-thin">
        <!-- options -->
        <div class="filter-options-list">
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Офис" id="offcanvasBuildingPurpose1">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose1">Офис</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Торговля" id="offcanvasBuildingPurpose2">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose2">Торговля</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Склад" id="offcanvasBuildingPurpose3">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose3">Склад</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Помещение свободного назначения" id="offcanvasBuildingPurpose4">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose4">Помещение свободного назначения</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Общественное питание" id="offcanvasBuildingPurpose5">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose5">Общественное питание</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Пункт выдачи заказов" id="offcanvasBuildingPurpose6">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose6">Пункт выдачи заказов</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Производство" id="offcanvasBuildingPurpose7">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose7">Производство</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Автосервис" id="offcanvasBuildingPurpose8">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose8">Автосервис</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Бытовые услуги" id="offcanvasBuildingPurpose9">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose9">Бытовые услуги</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Апартаменты" id="offcanvasBuildingPurpose10">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingPurpose10">Апартаменты</label>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <button type="button" class="btn btn-primary w-100">Применить</button>
    </div>
</div>