<!-- offcanvas filter buildingType -->
<div class="offcanvas offcanvasFilter offcanvas-bottom" tabindex="-1" id="offcanvasFilterBuildingType">
    <div class="offcanvas-header justify-content-between">
        <div class="h5 fw-600 mb-0">Тип здания</div>
        <button type="button" class="btn btn-secondary p-2" data-coreui-dismiss="offcanvas" aria-label="Close">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path d="M18 18L12 12M12 12L6 6M12 12L18 6M12 12L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </span>
        </button>
    </div>
    <div class="offcanvas-body overflow-y-auto scrollbar-thin">
        <!-- options -->
        <div class="filter-options-list">
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Бизнес-центр «А»" id="offcanvasBuildingType1">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType1">Бизнес-центр «А»</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Бизнес-центр «B»" id="offcanvasBuildingType2">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType2">Бизнес-центр «B»</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Бизнес-центр «C»" id="offcanvasBuildingType3">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType3">Бизнес-центр «C»</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Торговый комплекс" id="offcanvasBuildingType4">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType4">Торговый комплекс</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Складской комплекс" id="offcanvasBuildingType5">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType5">Складской комплекс</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Производственный комплекс" id="offcanvasBuildingType6">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType6">Производственный комплекс</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Жилой многоквартирный дом" id="offcanvasBuildingType7">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType7">Жилой многоквартирный дом</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Здание апартаментов" id="offcanvasBuildingType8">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType8">Здание апартаментов</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Гостиница (отель)" id="offcanvasBuildingType9">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType9">Гостиница (отель)</label>
                </div>
            </div>
            <div class="filter-option-item">
                <div class="form-check m-0">
                    <input class="form-check-input" type="checkbox" value="Отдельно стоящее здание (свободного назначения)" id="offcanvasBuildingType10">
                    <label class="form-check-label text-gray-60" for="offcanvasBuildingType10">Отдельно стоящее здание (свободного назначения)</label>
                </div>
            </div>
        </div>
    </div>
    <div class="offcanvas-footer">
        <button type="button" class="btn btn-primary w-100">Применить</button>
    </div>
</div>