<section class="section section-account">

    <!-- bg image -->
    <img class="img-fluid position-fixed top-0 end-0 bottom-0 d-none d-xl-block object-fit-contain pe-none" src="img/account/bg-account.png" alt="ИИ Рента Профиль">

    <div class="container-fluid">
        <!-- grid -->
        <div class="d-grid grid-cols-12 row-gap-5 gap-md-6">
            <!-- content -->
            <div class="col-span-12 col-span-lg-12 col-span-xl-4">
                <div class="rounded-neutral-wrapper min-h-screen-xl">

                    <!-- title -->
                    <div class="text-gray-50 mb-1">Email:</div>
                    <div class="h3 fw-600 mb-6">vladlensuhosur@yandex.ru</div>

                    <div class="bg-dark rounded-3 p-5">
                        <div class="text-danger mb-2">Error</div>
                        <code>include('partials/sections/account.html')</code>
                        <div class="small text-gray-30 mt-4">no such file or directory</div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>