<section class="section section-home-hero">

    <!-- section__anchor -->
    <div class="section__anchor" id="homeHero"></div>

    <!-- container -->
    <div class="container">
        <!-- grid -->
        <div class="d-grid grid-cols-24 gap-0">

            <!-- col (content) -->
            <div class="col-span-24 col-span-sm-13">
                <div class="ff-main fs-1 text-primary fw-400">test 400</div>
                <div class="ff-title fs-2 text-secondary fw-500">test 500</div>
                <div class="h3 fw-600">test 600</div>
                <div class="fw-700">test 700</div>
                <button class="btn btn-primary">test</button>
            </div>

            <!-- col (image) -->
            <div class="col-span-24 col-span-sm-11">
                test 2
            </div>

        </div>
    </div>

</section>