<section class="section section-notifications">

    <!-- bg image -->
    <img class="img-fluid position-fixed top-0 end-0 bottom-0 d-none d-lg-block object-fit-contain pe-none" src="img/notifications/bg-notifications.png" alt="ИИ Рента Уведомления">

    <div class="container-fluid">
        <div class="d-grid grid-cols-12 row-gap-40px gap-md-20px">
            <!-- content -->
            <div class="col-span-12 col-span-lg-7 col-span-xl-5">
                <div class="position-relative d-flex flex-column overflow-hidden bg-neutral-100 rounded-3 px-3 px-lg-4 pt-30px pb-30px" style="min-height: calc(100dvh - 40px);">

                    <!-- title -->
                    <h1 class="fw-700 mb-20px">Уведомления</h1>

                    <div class="flex-fill">
                        <!-- list -->
                        <div class="d-flex flex-column gap-10px">
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                            <!-- item -->
                            <div class="position-relative bg-white rounded-2 p-20px">
                                <div class="small text-gray-50 fw-400 mb-2">10:33 12.03.2026</div>
                                <div class="h5 fw-600 mb-2">Скоро изменение цены</div>
                                <div class="text-gray-60 fw-400">
                                    <p>С 1 [месяц] стоимость тарифа «Стандарт» станет выше. Вы можете продлить тариф сейчас и зафиксировать текущую цену.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>