<div class="py-10 py-lg-6">

    <!-- title -->
    <div class="text-center max-w-800px mx-auto">
        <h2 class="h3 fw-600 mb-6">Начните с первого объекта</h2>
        <div class="text-gray-50 fw-500 mb-6">Заполните или&nbsp;загрузите чек-лист&nbsp;— Рента сформирует экономический паспорт, проведёт собственный анализ и&nbsp;даст рекомендации для&nbsp;успешной сделки</div>
        <div>
            <a href="add-new-object-1.html" class="btn btn-primary">Поехали!</a>
        </div>
    </div>

    <!-- divider -->
    <hr class="border border-neutral-300 border-1 opacity-100 my-10 my-lg-11">

    <!-- features -->
    <div>
        <div class="row gy-10">
            <div class="col-lg-8 text-center text-lg-start">
                <div class="d-flex flex-column">
                    <div class="mb-4">
                        <span class="d-inline-flex align-items-center h5 fw-600 text-neutral-400 border border-2 border-neutral-400 rounded-2 py-1 px-3 mb-0" style="height: 44px;">1</span>
                    </div>
                    <div class="fw-500 mb-2">Добавьте информацию об&nbsp;объекте</div>
                    <div class="text-gray-50 fw-400 mb-0">Достаточно основных данных об&nbsp;объекте и&nbsp;условиях арены</div>
                    <div class="mt-2">
                        <span class="d-inline-block small fw-500 text-brand-400 border border-2 border-brand-400 rounded-2 py-1 px-2 me-1 mb-1">Займёт 3–5 минут</span>
                        <span class="d-inline-block small fw-500 text-brand-400 border border-2 border-brand-400 rounded-2 py-1 px-2 me-1 mb-1">Можно сохранить как черновик</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 text-center text-lg-start">
                <div class="d-flex flex-column">
                    <div class="mb-4">
                        <span class="d-inline-flex align-items-center h5 fw-600 text-neutral-400 border border-2 border-neutral-400 rounded-2 py-1 px-3 mb-0" style="height: 44px;">2</span>
                    </div>
                    <div class="fw-500 mb-2">Внесите уточнения с помощью ИИ</div>
                    <div class="text-gray-50 fw-400 mb-0">Получите рекомендации для более качественного анализа</div>
                </div>
            </div>
            <div class="col-lg-8 text-center text-lg-start">
                <div class="d-flex flex-column">
                    <div class="mb-4">
                        <span class="d-inline-flex align-items-center h5 fw-600 text-neutral-400 border border-2 border-neutral-400 rounded-2 py-1 px-3 mb-0" style="height: 44px;">
                            <svg class="flex-shrink-0 me-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M4 12L8.94975 16.9497L19.5572 6.34326" stroke="#94A3B8" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                            Готово
                        </span>
                    </div>
                    <div class="fw-500 mb-2">ИИ&nbsp;сформирует эконмический паспорт и&nbsp;экспресс-анализ арендного бизнеса</div>
                    <div class="text-gray-50 fw-400 mb-0">Получите экономические показатели арендного бизнеса и рекомендации от ИИ</div>
                </div>
            </div>
        </div>
    </div>

</div>