<section class="section section-prices">
    <div class="container-fluid">
        <div class="d-flex flex-column justify-content-center min-h-screen-xl">

            <div class="text-center max-w-800px mx-auto mt-10 mt-lg-6 mb-10">
                <h1 class="h2 fw-700 mb-6">Оформить тариф</h1>
                <div class="h5 text-gray-50 fw-600 mb-6">Создавайте экономические паспорта объектов, анализируйте данные и принимайте решения на основе объективных цифр и полезных рекомендаций</div>
                <div>
                    <button type="button" class="btn btn-outline-secondary" data-coreui-toggle="modal" data-coreui-target="#modalEnterPromoCode1">Ввести промокод</button>
                </div>
            </div>

            <!-- grid -->
            <div class="d-grid grid-cols-12 row-gap-5 gap-md-6">
                <!-- grid cell -->
                <div class="col-span-12 col-span-md-6 col-span-xl-3">
                    <!-- card tariff -->
                    @@include('../cards/tariff.html', {
                        "cardType": "tariff-common",
                        "title": "Название тарифа №1",
                        "description": "Разовый анализ объекта недвижимости с помощью ИИ. Подходит для быстрого точечного запроса",
                        "generations": "1 генерация",
                        "oldPrice": "1 500 ₽",
                        "profit": "Скидка 500 ₽",
                        "mainPrice": "1 000 ₽",
                        "percent": "-30%",
                        "btnTitle": "Докупить генерацию"
                    })
                </div>
                <!-- grid cell -->
                <div class="col-span-12 col-span-md-6 col-span-xl-3">
                    <!-- card tariff -->
                    @@include('../cards/tariff.html', {
                        "cardType": "tariff-common",
                        "title": "Оптимальный",
                        "description": "Регулярный анализ недвижимости с помощью ИИ. Оптимально для частных инвесторов и агентов с умеренным объёмом задач",
                        "generations": "20 генераций",
                        "oldPrice": "15 000 ₽",
                        "profit": "Скидка 5 000 ₽",
                        "mainPrice": "10 000 ₽",
                        "percent": "-30%",
                        "btnTitle": "Изменить"
                    })
                </div>
                <!-- grid cell -->
                <div class="col-span-12 col-span-md-6 col-span-xl-3">
                    <!-- card tariff -->
                    @@include('../cards/tariff.html', {
                        "cardType": "tariff-popular",
                        "title": "Нереальный",
                        "description": "Расширенный доступ к ИИ-анализу недвижимости. Для профессионалов, агентств и команд с большим потоком объектов",
                        "generations": "100 генераций",
                        "oldPrice": "50 000 ₽",
                        "profit": "Скидка 15 000 ₽",
                        "mainPrice": "35 000 ₽",
                        "percent": "-25%",
                        "btnTitle": "Автопродление 19.04.2026"
                    })
                </div>
                <!-- grid cell -->
                <div class="col-span-12 col-span-md-6 col-span-xl-3">
                    <!-- card tariff -->
                    @@include('../cards/tariff.html', {
                        "cardType": "tariff-common",
                        "title": "Организация",
                        "description": "Разовый анализ объекта недвижимости с помощью ИИ. Подходит для быстрого точечного запроса",
                        "generations": "1 генерация",
                        "oldPrice": "1 500 ₽",
                        "profit": "Скидка 500 ₽",
                        "mainPrice": "1 000 ₽",
                        "percent": "-30%",
                        "btnTitle": "Изменить"
                    })
                </div>
            </div>

            <div class="text-center mt-10 mb-10">
                <button type="button" class="btn border-0" data-coreui-toggle="modal" data-coreui-target="#modalDisableAutoRenewal1">Отключить автопродление</button>
            </div>

        </div>
    </div>
</section>