<section class="section section-home-slider">
    <div class="container container-wide">
        <div class="rounded-neutral-wrapper bg-gradient-primary">
            <div class="container gx-0">

                <div class="d-flex align-items-center justify-content-between gap-2 mb-6">
                    <h2 class="h2 fw-700 mb-0">Как работает ИИ&nbsp;Рента</h2>
                </div>

                <div class="swiper-global-progress">
                    <div class="swiper-global-progress__bar"></div>
                </div>
        
                <div class="sliders-area">
                    <div class="row">
                        <div class="col-lg-9 d-none d-lg-block">
                            <div class="swiper vertical-slider__nav">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide vertical-slider__nav-item">
                                        <div class="vertical-slider__timer-indicator"></div>
                                        <div class="h4 fw-600 mb-4">1. Заполните данные об объекте</div>
                                        <div class="text-box text-gray-60">
                                            <p>Для расчёта достаточно заполнить 5 обязательных полей. Чтобы повысить точность расчётов и учесть больше факторов, вы можете указать более 50 дополнительных параметров объекта, здания, арендатора, договора, доходов и расходов.</p>
                                            <p>Чем больше информации вы добавите, тем точнее будет оценка экономики объекта и связанных с ним рисков</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide vertical-slider__nav-item">
                                        <div class="vertical-slider__timer-indicator"></div>
                                        <div class="h4 fw-600 mb-4">2. Получите бесплатную проверку данных от ИИ Ренты</div>
                                        <div class="text-box text-gray-60">
                                            <p>Перед расчётом ИИ Рента проверит, насколько полно и корректно заполнена информация об объекте, укажет на возможные неточности и предложит рекомендации.</p>
                                            <p>Вы сможете задать нейросети дополнительные вопросы, уточнить спорные моменты и внести изменения в данные прямо перед созданием документов</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide vertical-slider__nav-item">
                                        <div class="vertical-slider__timer-indicator"></div>
                                        <div class="h4 fw-600 mb-4">3. Сформируйте Экономический паспорт и Экспресс-анализ</div>
                                        <div class="text-box text-gray-60">
                                            <p>После проверки данных ИИ Рента сформирует два документа:</p>
                                            <p>Экономический паспорт — с ключевыми финансовыми показателями объекта.</p>
                                            <p>Экспресс ИИ-анализ — с оценкой доходности, рисков, ликвидности и инвестиционного потенциала.</p>
                                            <p>После формирования документов вы сможете задать Ренте дополнительные вопросы по расчётам, выводам и рекомендациям</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide vertical-slider__nav-item">
                                        <div class="vertical-slider__timer-indicator"></div>
                                        <div class="h4 fw-600 mb-4">4. Храните все объекты и документы в одном месте</div>
                                        <div class="text-box text-gray-60">
                                            <p>Объекты с готовым Экономическим паспортом сохраняются в разделе «Документы». Там вы сможете в любой момент открыть результаты расчётов и вернуться к анализу.</p>
                                            <p>Если вы не успели заполнить данные до конца, объект автоматически сохранится в «Черновиках» — продолжить работу можно позже</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide vertical-slider__nav-item">
                                        <div class="vertical-slider__timer-indicator"></div>
                                        <div class="h4 fw-600 mb-4">5. Публикуйте и находите объекты в базе недвижимости</div>
                                        <div class="text-box text-gray-60">
                                            <p>Продавцы могут опубликовать объект в общей базе недвижимости и представить его потенциальным покупателям и инвесторам вместе с рассчитанными показателями.</p>
                                            <p>Пользователи сервиса смогут находить подходящие предложения с помощью фильтров по городу, типу здания, категории недвижимости, стоимости и операционному доходу</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-15">
                            <div class="swiper swiperAbout">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="d-lg-none mb-6">
                                            <div class="h4 fw-600 mb-4">1. Заполните данные об объекте</div>
                                            <div class="text-box text-gray-60">
                                                <p>Для расчёта достаточно заполнить 5 обязательных полей. Чтобы повысить точность расчётов и учесть больше факторов, вы можете указать более 50 дополнительных параметров объекта, здания, арендатора, договора, доходов и расходов.</p>
                                                <p>Чем больше информации вы добавите, тем точнее будет оценка экономики объекта и связанных с ним рисков</p>
                                            </div>
                                        </div>
    
                                        <img class="img-thumb" src="assets/img/landing/slide-1.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="d-lg-none mb-6">
                                            <div class="h4 fw-600 mb-4">2. Получите бесплатную проверку данных от ИИ Ренты</div>
                                            <div class="text-box text-gray-60">
                                                <p>Перед расчётом ИИ Рента проверит, насколько полно и корректно заполнена информация об объекте, укажет на возможные неточности и предложит рекомендации.</p>
                                                <p>Вы сможете задать нейросети дополнительные вопросы, уточнить спорные моменты и внести изменения в данные прямо перед созданием документов</p>
                                            </div>
                                        </div>
    
                                        <img class="img-thumb" src="assets/img/landing/slide-2.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="d-lg-none mb-6">
                                            <div class="h4 fw-600 mb-4">3. Сформируйте Экономический паспорт и Экспресс-анализ</div>
                                            <div class="text-box text-gray-60">
                                                <p>После проверки данных ИИ Рента сформирует два документа:</p>
                                                <p>Экономический паспорт — с ключевыми финансовыми показателями объекта.</p>
                                                <p>Экспресс ИИ-анализ — с оценкой доходности, рисков, ликвидности и инвестиционного потенциала.</p>
                                                <p>После формирования документов вы сможете задать Ренте дополнительные вопросы по расчётам, выводам и рекомендациям</p>
                                            </div>
                                        </div>
    
                                        <img class="img-thumb" src="assets/img/landing/slide-3.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="d-lg-none mb-6">
                                            <div class="h4 fw-600 mb-4">4. Храните все объекты и документы в одном месте</div>
                                            <div class="text-box text-gray-60">
                                                <p>Объекты с готовым Экономическим паспортом сохраняются в разделе «Документы». Там вы сможете в любой момент открыть результаты расчётов и вернуться к анализу.</p>
                                                <p>Если вы не успели заполнить данные до конца, объект автоматически сохранится в «Черновиках» — продолжить работу можно позже</p>
                                            </div>
                                        </div>
    
                                        <img class="img-thumb" src="assets/img/landing/slide-4.png" alt="">
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="d-lg-none mb-6">
                                            <div class="h4 fw-600 mb-4">5. Публикуйте и находите объекты в базе недвижимости</div>
                                            <div class="text-box text-gray-60">
                                                <p>Продавцы могут опубликовать объект в общей базе недвижимости и представить его потенциальным покупателям и инвесторам вместе с рассчитанными показателями.</p>
                                            <p>Пользователи сервиса смогут находить подходящие предложения с помощью фильтров по городу, типу здания, категории недвижимости, стоимости и операционному доходу</p>
                                            </div>
                                        </div>
    
                                        <img class="img-thumb" src="assets/img/landing/slide-5.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center gap-6 mt-3">
                    <div class="d-flex gap-2">
                        <button type="button" class="btn-swiper-prev btn btn-secondary p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M15 19L8 12L15 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                        <button type="button" class="btn-swiper-next btn btn-secondary p-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M9 5L16 12L9 19" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </button>
                    </div>
                    <div class="fs-4 text-gray-50 js-swiper-counter">1/5</div>
                </div>

            </div>
        </div>
    </div>
</section>