// theme fonts
$ff-main: 'Golos Text', sans-serif;
$ff-title: 'Golos Text', sans-serif;

$rounded-1: 0.25rem;
$rounded-2: 0.5rem;
$rounded-3: 0.75rem;
$rounded-4: 1rem;
$rounded-5: 1.25rem;

// text HEX
$text-white:   #ffffff;
$text-gray-30: #cbd5e1;
$text-gray-40: #94a3b8;
$text-gray-50: #64748b;
$text-gray-60: #475569;
$text-gray-70: #334155;
$text-primary: #0B1226;

// brand HEX
$brand-50:  #f2f6ff;
$brand-100: #e6eeff;
$brand-200: #c7d7ff;
$brand-300: #9fb8ff;
$brand-400: #6f94ff;
$brand-500: #3771fd;
$brand-600: #2f63e6;
$brand-700: #2f63e6;
$brand-800: #2046aa;
$brand-900: #18347f;

// neutral HEX
$neutral-50:  #f8fafc;
$neutral-100: #f1f5f9;
$neutral-200: #e2e8f0;
$neutral-300: #cbd5e1;
$neutral-400: #94a3b8;
$neutral-500: #64748B;
$neutral-600: #475569;
$neutral-700: #324154;
$neutral-800: #1e293b;
$neutral-900: #0f1729;

// success HEX
$success-50:  #ebfcf4;
$success-100: #d2fae5;
$success-200: #a7f2cf;
$success-300: #6fe8b8;
$success-400: #35d499;
$success-500: #15a349;
$success-600: #14803c;
$success-700: #166635;
$success-800: #14542e;
$success-900: #0f3d21;

// warning HEX
$warning-50:  #fffbeb;
$warning-100: #fff4c7;
$warning-200: #fce68b;
$warning-300: #fcd44e;
$warning-400: #FBBF24;
$warning-500: #f59f0a;
$warning-600: #d97707;
$warning-700: #b55409;
$warning-800: #92400E;
$warning-900: #78350e;

// error HEX
$error-50:  #FEF2F2;
$error-100: #ffe3e3;
$error-200: #ffcccc;
$error-300: #fca4a4;
$error-400: #F87171;
$error-500: #f04343;
$error-600: #db2525;
$error-700: #B91C1C;
$error-800: #991c1c;
$error-900: #801d1d;

// bg HEX
$bg-white:    #ffffff;
$bg-neutral:  $neutral-50;
$bg-brand:    $brand-50;
$bg-success:  $success-50;
$bg-warning:  $warning-50;
$bg-error:    $error-50;
