// =========================================
// AI RENTA - MAIN SCSS FILE
// =========================================
// Автор: Andrew G
// Версия: 1.00
// =========================================

// Import CoreUI PRO
@use "@coreui/coreui-pro/scss/coreui" with (
    // colors
    $primary: #3771FD,
    $secondary: #F74251,
    $success: #006311,
    $info: #39f,
    $warning: #FDE68A,
    $danger: #EF4444,
    $light: #F1F5F9,
    $dark: #070706,

    // body settings
    $body-color: #0B1226,
    $body-bg: #fff,

    // fonts
    $font-family-base: ("Golos Text", sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"),
    $line-height-base: 1.3,
    // font-sizes
    $h1-font-size: 1.8125rem,
    $h2-font-size: 1.625,
    $h3-font-size: 1.4375rem,
    $h4-font-size: 1.25rem,
    $h5-font-size: 1.125rem,

    // borders
    $border-width: 1px,
    $border-color: #CBD5E1,
    $border-radius: 0.5rem,
    $border-radius-sm: 0.25rem,
    $border-radius-lg: 0.75rem,
    $border-radius-xl: 1rem,
    $border-radius-xxl: 1.25rem,

    // breakpoints
    $grid-breakpoints: (
        xs: 0,
        sm: 640px,
        md: 768px,
        lg: 1200px,
        xl: 1400px,
        xxl: 1600px
    ),

    // containers
    $container-max-widths: (
        sm: 610px,
        md: 728px,
        lg: 1160px,
        xl: 1340px,
        xxl: 1540px
    ),
);

// Import Theme Variables
@use 'variables';

// Import Theme Components
@use 'components/root';
@use 'components/global';
@use 'components/utils';
@use 'components/grid';
@use 'components/typography';
@use 'components/forms';
@use 'components/buttons';
@use 'components/layout-header';
@use 'components/layout-footer';
@use 'components/cards';
@use 'components/modals';
@use 'components/swiper';
@use 'components/sections';