<div class="cookie-notice">
    <div class="cookie-notice__body">
        <div class="cookie-notice__img">
            <img class="img-fluid" src="assets/img/modals/cookie.svg" alt="">
        </div>
        <div class="cookie-notice__text">
            <p>Продолжая использовать наш&nbsp;сайт, вы&nbsp;соглашаетесь на&nbsp;<a href="#">обработку файлов cookies</a>, в&nbsp;соответствии с&nbsp;<a href="#">Политикой использования файлов cookies</a></p>
        </div>
        <div class="cookie-notice__btn">
            <button type="button" class="btn btn-primary">Согласен</button>
        </div>
    </div>
</div>