<div class="cookie-notice">
    <div class="cookie-notice__body">
        <div class="d-flex align-items-center gap-4">
            <div class="cookie-notice__img">
                <img class="img-fluid" src="assets/img/modals/cookie.svg" alt="">
            </div>
            <div class="cookie-notice__text">
                <p>Продолжая использовать наш&nbsp;сайт, вы&nbsp;соглашаетесь на&nbsp;<a href="#">обработку файлов cookies</a>, в&nbsp;соответствии с&nbsp;<a href="#">Политикой использования файлов cookies</a></p>
            </div>
        </div>
        <div class="cookie-notice__btn">
            <button type="button" class="btn btn-primary w-100">Согласен</button>
        </div>
    </div>
</div>