<div class="preloader" id="preloader">
    <div class="animation-preloader">
        <div class="spinner"></div>
    </div>
    <div class="loader">
        <div class="row">
            <div class="col loader-section">
                <div class="bg"></div>
            </div>
            <div class="col loader-section">
                <div class="bg"></div>
            </div>
            <div class="col loader-section">
                <div class="bg"></div>
            </div>
            <div class="col loader-section">
                <div class="bg"></div>
            </div>
        </div>
    </div>
</div>